@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

body {
           background-image: url('../images/003-1.jpg');
           background-repeat:no-repeat;
           background-attachment: fixed;
           background-size:cover;
           background-position:center;
           background-color: white;
           color: black;
           font-family: "Times Roman Numeral";
           font-size:30px;
           font-weight:bold;
           line-height:1.5;
           max-width: 100%;
           overflow-x: hidden;
}

.navcontent:hover {
    color:red;
    
}

.navcontent:active {
    color:white;
}

.navbar {
    
    background-color:gold;
    opacity:0.8;
    border: gold solid;
    
}

.cal {
    border:solid 1px black;
    background-color:rgba(255,255,255,0.35);
}
.missionStatement {
    border:solid 1px black;
    background-color:rgba(255,255,255,0.35);
}

.navbar-default .navbar-nav>li>a {
    color:purple;
    margin-right:80px;
    
}

.p4 {
    padding-left:140px;
    color:white;
}

.wecan {
    
    display:inline-block;
    margin-bottom:5px;
    margin-top:5px;
    border-style:double;
    border-width:10px;
    border-color:purple;
    margin-left:50px;
    opacity:0.85;
    
}

.desc {
    font-size:24px;
    font-weight:normal;
    color:white;
}

.p {
    font-size:24px;
    font-weight:bold;
    color: white;
    
}

.p2 {
    color:gold;
}

.p1 {
    color:white;
}

.admin {
 padding-left:50px;
}

.admin2 {
 padding-right:50px;
}

.container2 {
    padding-left:370px;
    padding-right:405px;
}

h3 {
    font-size:20px;
    color:purple;
}

.text-center {
    color:white;
}

header{
    background-color:white;
}



.btn {
    background-color:purple;
}
.purple {
    background-color:rgba(255,255,255,0.85);
    
}


header{
                background-color:white;
            }
        
            
    
            
            .social {
                width: 50px;
            }
            
            
            /*<!--*/
            /*h2 {*/
            /*    color: white;*/
            /*}*/
            /*-->*/
            
            
            
        /* <!--These sections are all on the about.html page-->   */
                        
  
          dt, dd {
              color:white;
          }
          
          .jumbotron {
             background: rgba(163, 0, 163,0.8);
             padding-top: 50px;
             height: 100%;
             width: 100%;
             margin-top: 300px;
             
         }  
         
         .home1 {
             color:white;
         }
        
        dd {
            font-size: 30px;
        }          

       
        
    .container {
             background: rgba(163, 0, 163,0.8);
             padding-top: 50px;
             opacity:50;
            
             
             
    }
    
  
    
    .contact {
        color: white;
        font-size: 60px;
    }
    
    
    .info {
        color: white;
    }
    
    .control-label {
        color: white;
    }
    
    
    .social {
        height: 50px;
        border: none;
    }
    
    
    img {
        
        border: solid;
        border-color: gold;
    }
    
    .william {
        height: 250px;
        width: 230px;
    }

    .dropdown-menu {
            background-color:gold;
            color:purple;
        }
        
        .names {
            color: gold;
        }
   nav .container{
            background-color:inherit;
            padding-top:0px;
        }
        
        
        .class {
            color: black;
        }
        
        .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: purple;}
    
    
        .dropdown-menu>li>a{
            display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: purple;
    white-space: nowrap;
}
        
        
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a 
         {
    color: purple;
}
    
    
    
    .btn {
        height: 50px;
        width: 200px;
    }    
        
        .bubble {
            color: gold;
        }
        .btn{
        
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
        }
        
        
        
        .box {
            margin-top: 100px;
        }
        
.giant {
            font-size: 300px;
            color: white;
        }
    
    @media only screen 
    and (min-width : 0px)
    and (max-width : 300px) {

       .giant{
        font-size: 50px;
       }

    }
    
        @media only screen 
and (min-width : 300px)
and (max-width : 500px) {

   .giant {
    font-size: 80px;
   }

}

    @media only screen 
    and (min-width : 500px)
    and (max-width : 800px) {

       .giant{
        font-size: 100px;
       }

    }
    
    @media only screen 
    and (min-width : 800px)
    and (max-width : 1200px) {

       .giant{
        font-size: 100px;
       }

    }



   /*     
 .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
 */       
 
 
 .building {
     color:purple;
 }
 
  .smaller {
      font-size: 24px;
  }
  
  
  .V{
    margin-right: -15px;
    margin-left: 180px;
}


footer {
  background-color: purple;
  height:184px;
  width:5000px;
  opacity: 0.8;
  position: relative;
  top: 74px;
  color:white;
  font-size:81%;
  
   }


.col-sm-1 {
  position:relative;
  left: 395px;
  top: 25px;
}
    





    .gooby {
        color: white;
    }


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: purple;

}



 {
     margin-left:;
 }



        label {
            color:white;
        }
        
        
        
        
    .container{
        padding-bottom: 10px;
    } 
    
